.parent{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.btn.hover{
    

}

.btn{
    border-radius: 6px;
    border-color: blue;

    height: 40px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    

}